.loader {
  border: 3px solid #eaf0f600;
  border-radius: 50%;
  border-top: 3px solid #df4d28;
  width: 100%;
  height: 100%;
  animation: spinner 2s linear infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}